{% extends "players/base.html" %}

{% block content %}
    <h3>NBA/ABA Player Database {% if page_obj.paginator.count %}<small class="text-muted">({{ page_obj.paginator.count }} Player{{ page_obj.paginator.count|pluralize:"s" }})</small>{% endif %}</h3>
    <hr>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <form class="form-inline my-2 my-lg-0 float-right" action="{% url 'nba-search-page' %}" method="get">
            <div class="col-md-6 offset-md-6 input-group">
                <div class="input-group-prepend">
                    <label for="myInput" class="input-group-text" id="basic-addon1">
                        <i class="fas fa-search-location"></i>
                    </label>
                </div>
                <input type="text" class="form-control" placeholder="Search all players ... " aria-label="Search" aria-describedby="basic-addon1" name="input" size="103" id="myInput"> 
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="card-columns">
        {% for player in page_obj %}
        <div class="card mb-3">
            <p class="card-header card-title" style="font-size: x-small; text-align: center; color: white;">{{ player.name }}</p>
            <div class="card-body border-dark">
                {% if player.img %}
                <img height="300" width="100%" src="{{ player.img }}"/>
                {% else %}
                <img height="300" width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbpU6GkMI8ivbsi2MW6meWCaxX-ir7ygbqpA&usqp=CAU"/>
                {% endif %}
                <div class="text-right"><a href="{% url 'nba-detail-page' player.id %}" title="Read More">Read More</a></div>
            </div>
            <div class="card-footer">
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}